spring:
  profiles:
    active: local

---
spring:
  profiles: local

  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect

  dynamo:
    tableName: "TokenCounter"
    region: "us-west-1"
    endPoint: "http://localhost:8042"
    maxRetry: 3
  token:
    uuid: 10
    tokens: 100

  limit:
    tokenLimitFor24hr: 10
    tokenLimitFor30day: 20
    duration: "duration"
    For24Hr: "for24Hr"
    For30Day: "for30Day"
    actorId: "actorId"
    count: "count"
    ttlFor24Hr: "60"
    ttlFor30days: "3600"
    ttl: "ttl"

server:
  port: 8080
