spring:
  profiles:
    active: local

---
spring:
  profiles: local

  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect

  dynamo:
    tableName: "demo-customer-info"
    region: "us-west-1"
    endPoint: "http://localhost:8042"
  token:
    uuid: 10
    tokens: 100

server:
  port: 8080
